<h1>Admin Dashboard </h1>
<ul class="list-group">
  <li class="list-group-item"> 
  <h2>
  <span class="badge bg-secondary">
  Number of products: 
  <span><%=@number_of_products%></span>
  </span>
  </h2>
  </li>
  <li class="list-group-item">
  <h2>
  <span class="badge bg-secondary">
  Number of categories: 
  <span><%=@number_of_categories%></span>
  </span>
  </h2>
  </li>
</ul>