<section class="about-us">
<h1>We are lovers of nature specialized in selling plants for you!</h1>
<p>We make sure that all the plants you buy are healthy and ready for their brand new forever home!
  Our products are locally sourced and raised with care from day one. We sell all kinds of plants, ranging from 
  evergreens to trees!</p>
</section>